
= breadcrumbs [:user, :projects, :project, :edit]

%h1 Edit project: #{@project.name}

= render partial: 'form'

%p= link_to glyph('trash') + ' Remove', project_path(@project), method: :delete, class: 'text-danger', data: { confirm: 'Really delete this project?' }
