
= breadcrumbs [:user, :projects, :project, :edit]

%h1 Edit project: #{@project.name}

= render partial: 'form'

-# TODO: User needs to be able to delete a project safely, without moving any associated entries & invoices to another project
-# %p= link_to glyph('trash') + ' Remove', project_path(@project), method: :delete, class: 'text-danger', data: { confirm: 'Really delete this project?' }
