%h1 All Projects

%table.form{style: 'font-size: 110%;'}
  %tr
    %th Name
    %th Rate
    %th Notes

  = render partial: 'nested_list', locals: { projects: @top_level_projects, nesting: 1 }
  %tr
    %td{colspan: 3}
      = link_to glyph('plus'), new_project_path(parent_id: nil), class: 'has-tooltip', tooltip: 'New top-level project'
