%h1.float-left My Projects
.float-left{style: "padding-top: 37px; padding-left: 20px;"}
  - if params[:show_inactive].present?
    = link_to "Only show active", projects_path
  - else
    = link_to "Show inactive", projects_path(show_inactive: true)
.clear-float

%table.table.table-striped
  %tr
    %th Name
    %th Rate
    %th Notes
    %th
  = render partial: 'list_body', locals: { projects: @projects }
  %tr
    %td{colspan: 10}
      = link_to glyph('plus') + " New top-level project", new_project_path(parent_id: nil), class: "test-new-project"
