
#main-container {
  max-width: 800px;
  padding-bottom: 40px;
}

table.form {
  &.wide { min-width: 400px; }

  th, td { padding: 5px; }

  textarea { min-height: 100px; }
}

.dropdown-toggle { cursor: pointer; }

// Utility

.nowrap { white-space: nowrap; }

.force_red { color: #a94442 !important; }

.loading-gif {
  width:  16px;
  height: 16px;
  background-image: image-url("loading.gif");
}

// for Devise forms
#error_explanation {
  color: #B20000;
  background-color: #FFdddd;
  border: 1px solid #FF8080;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 110%;
    margin-top: 10px;
  }
}
