
// Layout

#main-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px; }
.dropdown-toggle { cursor: pointer; }
.centered-1000 { max-width: 1000px; margin-left: auto; margin-right: auto; }
.centered-800 { max-width: 800px; margin-left: auto; margin-right: auto; }
.centered-600 { max-width: 600px; margin-left: auto; margin-right: auto; }
.row-padded {
  padding-top: 5px;
  padding-bottom: 5px; }
.row-padded-top { padding-top: 5px; }
.row-padded-bottom { padding-bottom: 5px; }

// Utilities

// TODO: change to just .hidden; remove unwanted Bootstrap side-effects
.js-hidden { display: none; }
.show-if-js { display: none; }
.float-left  { float: left; }
.float-right { float: right; }
.clear-float  { clear: both; }
.nowrap { white-space: nowrap; }
.em { font-style: italic; }
.strong { font-weight: bold; }

.def { cursor: help; }
.tooltip { white-space: normal; }
.max-400 { max-width: 400px; }

// TODO: Get rid of this, replace with Bootstrap grids
table.form {
  &.wide { min-width: 400px; }
  th, td { padding: 5px; } }

table.striped {
  td { border-top: 1px solid #eee; } }

// TODO: Remove these
.center { text-align: center; }
.small  { width: 100px; }
.medium { width: 200px; }
.inline { display: inline-block; }

.row-highlight { background-color: #f6f6f6 !important; }

// Overrides

table.table { width: auto; }

.force_red { color: #a94442 !important; }

.loading-gif {
  width:  16px;
  height: 16px;
  background-image: image-url("loading.gif");
}

.feature {
  font-size: 110%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px 0px #ccc;
  border: 1px solid #eee;
  border-radius: 5px;
}

// for Devise forms
#error_explanation {
  color: #B20000;
  background-color: #FFdddd;
  border: 1px solid #FF8080;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 110%;
    margin-top: 10px;
  }
}
