.table {
  > tbody, > thead, > tfoot {
    > tr {
      > th, > td {
        padding: 6px;
      }
    }
  }
}

table .project-name {
  max-height: 1.5em;
  overflow: hidden;
}

.totals-table {
  width: 100%;
  th, td {
    padding: 5px;
    border-bottom: 1px solid #eee;
  }
  .project-name {
    font-size: 90%;
  }
  margin-bottom: 30px;
}

div.pagination {
  margin: 0px;
}
