.table {
  > tbody, > thead, > tfoot {
    > tr {
      > th, > td {
        padding: 6px;
      }
    }
  }
}

table .project-name {
  max-height: 1.5em;
}

table#timesheet {
  td.project-td {
    overflow: hidden;

    .project-name {
      width: 1000%;
    }
  }
}

.totals-table {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: -10px;
  th, td {
    padding: 5px;
    border-bottom: 1px solid #eee;
  }
  .data-cell {
    text-align: right;
    width: 80px;
  }
}

div.pagination {
  margin: 0px;
}
